<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./portfolio.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:wght@200&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
    />

    <!----------this title will appear on the domain------->
    <title>Said's portfolio</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="flex items-centre justify-between">
          <div class="left flex justfiy-right">
            <div class="logo">
              <img src="images/ssm.png" width="50px" alt="logo" />
            </div>
            <!-----these will appear on the navigation bar------>
            <div>
              <a href="#">Home</a>
              <a href="#aboutme">About Me</a>
              <a href="#about">Projects</a>
              <a href="#services">Skills</a>
              
            </div>
          </div>
          <!-- Main page -->
            <div class="right">
              <a href="contact.html" class="btn btn-primary">Contact</a>
            </div>
         
        </nav>
      </div>
    </header>
    
    <!-----about me section---->
    <div class="hero flex items-centre justify-between">
      <div class="left flex-1 justify-center">
        <img src="images/programming.jpg" alt="Profile" width="200" height="350"/>
      </div>
      <div class="right flex-1" id="aboutme">
        <h6>About me</h6>
        <h1>
          I'm a Software<br />
          <span>Engineer</span>
        </h1>
        <p>
            Motivated and passionate junior developer with a strong desire to expand knowledge and expertise in the rapidly
            evolving field of technology.I possess a solid foundation in software development principles
            and programming languages, with a keen eye for detail and a drive for delivering high-quality solutions. You can find my resume below:
        </p>
        <div>
          <a href="./saidi's resume.pdf" download="saidi's resume.pdf" class="btn btn-secondary">DOWNLOAD CV</a>
        </div>
        
      </div>
    </div>

    <!---projects section---->
    <section class="about" id="about">
      <div class="container flex items-centre">
        <div class="left flex-1 justify-right">
          <img src="images/python.jpg" height="200px" alt="profile pic" />
        </div>
        <div class="right flex-1">
          <h1>Projects</h1>
          <h3>Hello! I'm Said Mohamed</h3>
          <p>
            As mentioned above. I am a junior developer. Thus, I have a few projects with me. Below are links to my github repositories where you can find my projects:
            <br><a href="https://github.com/SIEDD/alx_capstone_project">portfolio website</a><br><a href="https://github.com/SIEDD/mini-projects">mini-projects</a>
          </p>
        </div>
      </div>
    </section>

    <!-----skills section---->
    <section class="services" id="services">
      <div class="container">
        <h1 class="services-head">Skills</h1>
        <p>All your digital needs...covered.</p>
        <div class="card-grid">
          <div class="card">
            
            <h2>UI/UX Design</h2>
            <p>
              From wireframing to prototyping and everything in between, I am dedicated to delivering exceptional designs that exceed expectations and leave a lasting impression.
            </p>
          </div>
          <div class="card">
            
            <h2>Web Development</h2>
            <p>
              My extensive background in web development equips me with the skills needed to not only design captivating user interfaces but also to bring them to life with clean and efficient code.
            </p>
          </div>
          <div class="card">
            
            <h2>Back-end development</h2>
            <p>
              With expertise in various programming languages and frameworks, I excel at building the backbone of web applications, ensuring seamless functionality and optimal performance
            </p>
          </div>
        </div>
      </div>
    </section>

    <!------contact me section----->
    <section class="contactme">
      <div class="container">
        <h1>Contact Me</h1>
        <p>feel free to get in touch with me at any time<br><br><br>email: <a href="mailto:saidmwacharo8@gmail.com">saidmwacharo8@gmail.com</a><br>whatsapp: +254742707438<br><br>   </p>
        <!-------how to reach me through social media platforms----->
        <div class="socials">
          <a href="https://www.instagram.com"><img src="images/instagram.png" width="40px" /></a>
          <a href="https://www.facebook.com"><img src="images/facebook.png" width="40px" /></a>
          <a href="https://www.twitter.com"><img src="images/twitter.png" width="40px" /></a>
        </div>
      </div>
    </section>
   
  </body>
</html>

